@model FortyTorun.Models.Product

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="main-box2">
    <h3> @Model.Name </h3>

    <img class="img-thumbnail" src="@Url.Action("GetImage","Home",new {Model.ProductID })" /> <br /><br />
    @Html.Raw(@Model.Description)
    <br />
       
        @foreach(var p in ViewBag.Send )
        {
        <img class="img-thumbnail" src="@Url.Action("GetImageById","Home",new { ImageId = p })" />
        }
       
</div>
<br />
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Read -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-9722624072270264"
             data-ad-slot="1745791830"></ins>
        <script>
(adsbygoogle = window.adsbygoogle || []).push({});
        </script>

  
